* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 5px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}


/* Body */

body {
    background-color: #444;
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 20px;
}

.logo { 
    margin-top: 25px;
    margin-bottom: 40px ; 
    width: 180px;
    border: 4px solid #D5D8DC;
    border-radius: 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

/* Main */

main {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

h1 h2 {
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */

footer {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
    flex-direction: row;
}

.social {
    display: inline-block;
}


/* Modelos */

.contenedorModelos {
    margin: 0px;
    border: 4px solid #333;
    border-radius: 10px;
}

.imgModelos {
    width: 500px;
    height: auto;
}

.contenedorModelos p {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

/* Iframe */

iframe {
    display: block;
    margin: auto;
}

/* Formulario */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fondo.jpg');
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #243c34;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #64c51f;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1fc575;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

@media (max-width:1023px) {

}